<template>
  <div 
    class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300 border-0"
  >
    <div class="rounded-t mb-0 px-6 py-6">
      <div class="text-center mb-3">
        <h6 class="text-gray-600 text-sm font-bold">
          Sign in
        </h6>
      </div>
      <div class="flex-auto px-4 lg:px-10 py-10 pt-10">
        <form>
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-gray-700 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
              Email
            </label>
            <input 
              type="email"
              class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
              placeholder="Email"
            >
          </div>
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-gray-700 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
              Password
            </label>
            <input 
              type="password"
              class="px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:shadow-outline w-full ease-linear transition-all duration-150"
              placeholder="Password"
            >
          </div>

          <div class="text-center mt-6">
            <button 
              class="bg-gray-900 text-white text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg hover:bg-gray-500 outline-none focus:outline-none  mr-1 mb-1 w-full ease-linear transition-all duration-150"
              type="button"
            >
              Sign In
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BlockLogin',
}
</script>