<template>
  <section class="relative w-full h-full py-40 min-h-screen">
    <div class="absolute top-0 w-full h-full bg-gray-900 bg-no-repeat bg-full">
      <div class="container mx-auto px-4 h-full">
        <div class="flex content-center items-center justify-center h-full">
          <div class="w-full lg:w-4/12 px-4">

            <BlockLogin />
            
            <div class="flex flex-wrap mt-6 relative">
              <div class="w-1/2 text-left">
                <a href="javascript:void(0)" class="text-gray-300">
                  <small>Forgot password?</small>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import BlockLogin from '@/components/login/BlockLogin';

export default {
  components: {
    BlockLogin
  },
  layout: 'default',
}
</script>